.about-container {
    
    background-color: #fff;
    background-image: linear-gradient(to bottom right, #fff, #f5f5f5);
    padding: 20px;
  }
  
  .section-buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .section-button {
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    padding: 10px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }
  
  .section-button:hover {
    background-color: #f0f0f0;
  }
  
  .section-button.active {
    background-color: #eee;
  }
  
  .section-content-container {
    color : black;
    padding: 20px;
  }
  
  .section-content {
    padding: 20px;
    border-radius: 5px;
  }
  
  h3 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  p {
    font-size: 16px;
    line-height: 1.5;
  }
  